{% extends 'base.html.twig' %}


{% block body %}

    <nav id="firstone">
        <ul class="menu">
            <li class="logo">lagenceDuWeb</li>
            <li class="item">sign_in</li>
            <li class="item">sign_up</li>
            <li class="item">about</li>
            <li class="item">faq</li>
            <li class="item">
                <input type="text" placeholder="rechercher" id="searcher">
            </li>
        </ul>
    </nav>


    <!--nav class="navbar navbar-expand-lg navbar-light bg-light" id="navexpand">
        <div id="niv"><a class="navbar-brand" id="color" href="#">Navbar</a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav-->

        <div class="jumbotron text-center">

            <h1>mawebagence</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dignissimos distinctio molestias nemo ratione tempore vel. Ad eligendi fugiat ipsa laborum, quibusdam ratione rem saepe voluptates! Dignissimos earum qui sapiente.</p>
        </div>

    <div class="container">
        <h2>les derniers logements</h2>
        <div class="row flex">
            {% for prop in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#">{{ prop.title }}</a>
                            </h5>
                            <p class="card-text">{{ prop.city }} {{ prop.zipCode }}</p>
                            <div class="text-primary" style="font-weight: bold;font-size:2rem;">{{ prop.formattedPrice }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
